# All SKB Projects should have this .editorconfig for code style enforcements

root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{py,js,ts,java,cs,cpp}]
indent_style = tab 
indent_size = 4

[*.md]
trim_trailing_whitespace = true 